.__2_error_overlay {
  position: fixed;
  inset: 0 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: calc(infinity);

  backdrop-filter: blur(1px);
}
.__2_error_container {
  position: fixed;
  inset: 5%;
  padding: 2rem 5rem;

  background: radial-gradient(
    circle,
    rgba(5, 0, 0, 0.9) 0%,
    rgba(20, 0, 0, 0.98) 99%,
    rgba(40, 0, 0, 1) 100%
  );
  background-color: rgba(20, 0, 0);
  border-radius: 1rem;

  font-family: sans-serif;

  overflow-y: auto;

  box-shadow: 0 0 1rem rgba(90, 0, 0), 0 0 0.5rem rgba(150, 0, 0) inset;
  animation: __2_error_container-glow 3.5s ease-in-out infinite alternate;
}

@keyframes __2_error_container-glow {
  0% {
    box-shadow: 0 0 1rem rgba(90, 0, 0, 0.9),
      0 0 0.5rem rgba(150, 0, 0, 0.4) inset;
  }
  50% {
    box-shadow: 0 0 2rem rgba(255, 0, 0, 0.8),
      0 0 0.75rem rgba(255, 30, 30, 0.6) inset;
  }
  100% {
    box-shadow: 0 0 0.6rem rgba(180, 0, 0, 0.6),
      0 0 0.35rem rgba(255, 60, 60, 0.5) inset;
  }
}

.__2_error_header {
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}

.__2_error_title {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  text-align: start;

  letter-spacing: 0.5px;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.__2_error_time {
  font-size: 1rem;
  color: #fff;
  font-style: italic;
}

.__2_error_overview {
  display: flex;
  margin-bottom: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: rgba(140, 30, 40, 0.7);
  color: white;

  font-size: 1em;
  font-weight: bold;

  & > ul {
    padding-left: 1.5rem;
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 2rem;
    }
  }
}

.__2_error_list {
  & > .__2_error {
    color: white;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: rgba(80, 20, 20, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem rgba(149, 38, 43, 0.9);

    letter-spacing: 0.1px;
  }

  .__2_error_file {
    color: #f00;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.5rem;
  }

  .__2_error_message {
    color: rgb(255, 230, 230);
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 2;

    overflow-wrap: break-word;
  }
}
